.header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 93%;
}

.backBtn {
  padding: 0;
  box-sizing: border-box;
  border: transparent;
  background-color: transparent;

  position: absolute;
  left: 0;

  margin-top: 20px;
  display: flex;
  align-items: center;
}

.backBtn:hover {
  cursor: pointer;
}

#backImg {
  width: auto;
  height: 70px;
}

.headerText {
  margin-top: 25px;
  font-size: 35px;
}

#processBtn {
  width: 225px;
  height: 70px;

  position: absolute;
  right: 0;

  margin-top: 20px;
  cursor: pointer;
  font-size: 25px;
  border: transparent;
  background-color: #4dae47;
  color: #fff;
  border-radius: 5px;
}

#processBtn:hover {
  background-color: #47a342;
}

#processBtn:active {
  background-color: #3b8737;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

.custom-file-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-file-label {
  margin-top: 20px;
  margin-bottom: 5px;
  height: 300px;
  width: 93%;
  border: 1px dashed rgb(168, 168, 168);
  background-color: #fff;
  color: black;
  font-size: 16;

  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.custom-file-input-label {
  background-color: #fff;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.box {
  width: 100%;
  height: 100%;
}

#uploadBtn {
  border: transparent;
  background-color: rgb(78, 131, 237);
  color: #fff;
  width: 100px;
  height: 25px;


  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

#uploadBtn:hover {
  background-color: rgb(25, 97, 240);
  cursor: pointer;
}

#uploadBtn:active {
  background-color: rgb(0, 81, 243);
  cursor: pointer;
}

.custom-file-input-text {
  font-size: 20px;
  background-color: #fff;
  margin-bottom: 8px;
}

#documentSvg {
  width: 100px;
  height: auto;
  background-color: #fff;
}

#downArrow {
  width: 10px;
  height: auto;
  background-color: transparent;
}

.noCsvDiv {
  display: flex;
  justify-content: start;
  width: 93%;
}

#noCsvDivBtn {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: 5px;
  color: rgb(78, 131, 237);
}

.csvIcon {
  width: 70px;
  height: auto;
  padding: 5px;
}

.acceptedFiles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.file {
  display: flex;
  position: relative;
  overflow: hidden;

  border: 1px dashed rgb(168, 168, 168);
}

.fileAttributes {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.file:hover .fileName {
  transform: translateY(-15px);
}

.file:hover .deleteFileBtn {
  transition: opacity 0.4s ease-in-out; /* Define transition with proper duration and timing function */
  opacity: 1;

}

.fileName {
  display: flex;
  justify-content: center;
  font-size: 20px;

  transition-property: transform;
  transition-duration: .4s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.deleteFileBtn {
  opacity: 0;
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  right: 0;

  border: transparent;
  background-color: rgb(252, 89, 89);
  color: #fff;
  
  transition-property: transform;
  transition-duration: .8s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.deleteFileBtn:hover {
  cursor: pointer;
}